APP_DEBUG = true[APP]DEFAULT_TIMEZONE=Asia/Shanghai[DATABASE]# 正式环境#TYPE = mysql#HOSTNAME = localhost#DATABASE = tb6#USERNAME = root#PASSWORD = root#HOSTPORT = 3306#CHARSET = utf8#DEBUG = true# 测试环境TYPE = mysqlHOSTNAME =DATABASE =USERNAME =PASSWORD =HOSTPORT = 3306CHARSET = utf8mb4DEBUG = true[CACHE]driver = redishost = 127.0.0.1port = 6379password =[QINIU]ACCESSKEY=SECRETKEY=BUCKET=VISIT_PREFIX=DOMAIN=UPLOAD_EXPIRES=3600PRIVATE_DOWNLOAD_EXPIRES=3600[JWT]SECRET = acedd29dbeb163ba227024f10e0ce7f3TTL = 60[THROTTLE]visit_rate = 30/m[LANG]default_lang = zh-cn[SALT]key = 654321[WECHAT]APPID=APPSECRET=